name: passenger_info_app
version: 1.0.0+1
description: A Flutter app to display passenger number, image, and driver type selection.
environment:
  sdk: '>=3.0.0 <4.0.0'
dependencies:
  flutter:
    sdk: flutter
  cupertino_icons: ^1.0.2